#nav a{color: black;
        padding: 15px;
        text-decoration: none;
        display: inline-block;}
#nav li{display: inline;}
#nav ul{list-style-type: none;
        margin: 0;}
#nav a:hover{background-color: lightblue;}
#nav {align-content: center;
        text-align: center;}

#page {align-content: center;
        text-align: center;}

.container {margin: 0px auto;}

.col, [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    margin: auto;}

.row {justify-content: center;}

h1 {align-content: center;
        text-align: center;}

body {background-color: lightgray;}

#login {border-style: solid;
        border-color: black;
        border-width: 1px;
        padding: 10px;
        background-color: gray;
        float: right;
        text-align: center;
        align-content: center;}

#about {margin: 0px;
        padding: 10px;
        text-align: center;
        border-style: solid;}

#stories {text-align: center;
        align-content: center;}

#choices {text-align: center;
        align-content: center;}


