{% extends 'base.html' %}
{% block nav %} {% include "navbar2.html" %} {% endblock %}
{% block content %}
   <div id="maincontent">
        <form method="post">
            {% csrf_token %}
            <h2>Login</h2>
            Username:<input type="text" name="username" placeholder="Username"><br><br>
            Password:<input type="password" name="password" placeholder="Password"><br><br>
            <input type="submit" value="Login">
            <br><br>
            <button><a href="{% url 'AdvAPP:authen:register' %}">Register</a></button>
        </form>
   </div>
{% endblock %}