{% extends 'base.html' %}
{% load static %}
{% block nav %} {% include "navbar2.html" %} {% endblock %}
{% block content %}
    <div id="maincontent">
        <form method="post">{% csrf_token %}
            First Name:<input type="text" name="first_name" placeholder="Enter first name here" required><br>
            Last Name:<input type="text" name="last_name" placeholder="Enter last name here" required><br>
            E-mail:<input type="text" name="email" placeholder="Enter E-mail here" required><br>
            Username:<input type="text" name="username" placeholder="Enter username here" required><br>
            Password:<input type="password" name="password1" required><br>
            Confirm Password:<input type="password" name="password2" required><br>
            <input type="submit" value="Create User">
        </form>
    </div>
{% endblock %}