{% extends 'base.html' %}
{% block title %} Create {% endblock %}
{% block nav %} {% include "navbar3.html" %} {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <h1 id="page">Create a New Story!</h1>
    <div id="create">
        <form method="post" name="new_story">{% csrf_token %}
            Story Title:<br><input type="text" name="story_title" placeholder="Enter Story title here" id="title"><br>
            Intro text:<br><textarea name="intro_input" cols="100" rows="10" placeholder="Write the introduction for your story here!"></textarea><br>
            First text:<br><textarea name="text_input" cols="100" rows="10" placeholder="Write the first section of your story! Players will make decisions from this point."></textarea><br>
            <br>
            <input type="submit" value="Save Story">
        </form>
    </div>
    {% else %}
    You are not logged in.
    {% endif %}
{% endblock %}