{% extends 'base.html' %}
{% load static %}
{% block title %} Create {% endblock %}
{% block nav %} {% include "navbar3.html" %} {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <h1 id="page">Create a New Story!</h1>
    <div id="create">
        <form method="post" name="new_story">{% csrf_token %}
            Story Title:<br><input type="text" name="story_title" placeholder="Enter Story title here" id="title" required><br>
            Intro text:<br><textarea name="intro_input" id="intro" cols="100" rows="10" placeholder="Write the introduction for your story here!" required></textarea><br>
            First text:<br><textarea name="text_input" id="first" cols="100" rows="10" placeholder="Write the first section of your story! Players will make decisions from this point." required
            ></textarea><br>
            <br>
            <input type="submit" value="Save Story" onclick="return checknull()">
        </form>
    </div>
    {% else %}
    You are not logged in.
    {% endif %}
    <script>
        function checknull() {
            var title = document.getElementById("title").value
            var intro = document.getElementById("intro").value
            var first = document.getElementById("first").value

            var newtitle = $.trim(title)
            var newintro = $.trim(intro)
            var newfirst = $.trim(first)

            if (newtitle == "" || newintro == "" || newfirst == ""){
                alert("Please fill out all boxes.")
                return false
            }
            else
                return true
        }
    </script>
{% endblock %}