{% extends 'base.html' %}
{% block title %} Update {% endblock %}
{% block nav %} {% include "navbar2.html" %} {% endblock %}

{% block content %}
    <div id="center">
    {% if user.is_authenticated %}
        {% if del_type == "story" %}
            <form method="post">
                {% csrf_token %}
                Story Title:<br><input type="text" name="story_title" placeholder="Change Story title here" value="{{ story }}"><br>
                Story Author:<br><input type="text" name="story_author" placeholder="Change Story author here" value="{{ story.author }}"><br>
                <button type="submit">Save</button>
            </form>
        {% elif del_type == "adventure" %}
            <form method="post">
                {% csrf_token %}
                Enter Story:<br><textarea name="text_input" cols="100" rows="10" placeholder="Change the section of a story here!">{{ adv_text }}</textarea><br>
                <button type="submit">Save</button>
            </form>
        {% elif del_type == "choice" %}
            <form method="post">
                {% csrf_token %}
                Enter Choice: <br> <input type="text" name="text_result" placeholder="What choice leads to this part of the story?" id="choice" value="{{ choice_text }}">
{#                Select Choice: <br>#}
{#                <select name="select_input">#}
{#                    <option value="null">Select an already created section.</option>#}
{#                    {% for adv in story.adventuretext_set.all %}#}
{#                        <option value="{{ adv.pk }}">{{ adv }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
                <button type="submit">Save</button>
            </form>
        {% endif %}
    {% else %}
        <h1>Not logged in! Please Login or Register</h1>
        <button><a href="{% url 'AdvAPP:authen:login' %}">Login</a></button>
    {% endif %}
    </div>
{% endblock %}