{% extends 'base.html' %}
{% block title %} Update {% endblock %}
{% block nav %} {% include "navbar2.html" %} {% endblock %}

{% block content %}
    <div id="create">
    {% if user.is_authenticated %}
        {% if del_type == "story" %}
            <form method="post">
                {% csrf_token %}
                Story Title:<br><input type="text" id="title" name="story_title" placeholder="Change Story title here" value="{{ story }}" required><br>
                <br>
                <button type="submit" onclick="return checknull1()">Save</button>
            </form>
        {% elif del_type == "adventure" %}
            <form method="post">
                {% csrf_token %}
                Enter Story:<br><textarea name="text_input" id="adv" cols="100" rows="10" placeholder="Change the section of a story here!" required>{{ adv_text }}</textarea><br>
                <br>
                <button type="submit" onclick="return checknull2()">Save</button>
            </form>
        {% elif del_type == "choice" %}
            <form method="post">
                {% csrf_token %}
                Enter Choice: <br> <input type="text" id="choice" name="text_result" placeholder="What choice leads to this part of the story?" value="{{ choice_text }}" required>
                <br>
                <button type="submit" onclick="return checknull3()">Save</button>
            </form>
        {% endif %}
    {% else %}
        <h1>Not logged in! Please Login or Register</h1>
        <br>
        <button><a href="{% url 'AdvAPP:authen:login' %}">Login</a></button>
    {% endif %}
    </div>

    <script>
        function checknull1() {
            var title = document.getElementById("title").value
            var newtitle = $.trim(title)
            if (newtitle == "") {
                alert("Please input a title.")
                return false
            }
            else
                return true
        }
        function checknull2() {
            var adventure = document.getElementById("adv").value
            var newadventure = $.trim(adventure)
            if (newadventure == "") {
                alert("Please input a text.")
                return false
            }
            else
                return true
        }
        function checknull3() {
            var choice = document.getElementById("choice").value
            var newchoice = $.trim(choice)
            if (newchoice == "") {
                alert("Please input a choice.")
                return false
            }
            else
                return true
        }
    </script>
{% endblock %}