{% extends 'base.html' %}
{% block title %} Full Outline {% endblock %}
{% block nav %} {% include "navbar2.html" %} {% endblock %}
{% block content %}
    <h1 id="page">{{ story }}</h1>
    <div id="center">
        <form action="../../delete/{{"story"}}/{{ story.id }}" method="get">
            <button type="submit" id="delete" onclick="return confirmdelete()">Delete Story</button>
        </form>
        <form action="../../update/{{"story"}}/{{ story.id }}" method="get">
            <button type="submit" id="update">Update Story</button>
        </form>
    </div>
    <br> <br>
    <div id="stories">
    {% if story %}
        <ol>
        {% for adv in story.adventuretext_set.all %}
            <li>{{ adv }}
            <form action="../../delete/{{"adventure"}}/{{ adv.id }}" method="get">
                <button type="submit" id="delete" onclick="return confirmdelete()">Delete Adventure Text</button>
            </form>
            <form action="../../update/{{"adventure"}}/{{ adv.id }}" method="get">
                <button type="submit" id="update">Update Adventure Text</button>
            </form>
                <ul>
                {% for choice in adv.choicetext_set.all %}
                    <li>{{ choice }}</li>
                    <form action="../../delete/{{"choice"}}/{{ choice.id }}" method="get">
                        <button type="submit" id="delete" onclick="return confirmdelete()">Delete Choice Text</button>
                    </form>
                    <form action="../../update/{{"choice"}}/{{ choice.id }}" method="get" >
                        <button type="submit" id="update">Update Choice Text</button>
                    </form>
                {% endfor %}
                </ul>
            </li>
            <a href="/AdvAPP/create/{{ adv.story.pk }}/{{ adv.pk }}">Add new Option</a>
            <br><br>
        {% endfor %}
        </ol>
        {% else %}
            <p>No stories are available.</p>
    {% endif %}
    </div>

    <script>
        function confirmdelete() {
            var text = "Confirm Delete?"
            if (confirm(text)) {
                return true
            }
            else
                return false
        }
    </script>

{% endblock %}