{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}
    <h1 id="page">Text Adventure Homepage</h1>
    <br><br>
    <div class="container">
        <div class="col-lg-6 col-sm-12" id="login">
            <form id="loginform" action="homepage.html" method="post">
                <h2>Login</h2>
                Username:
                <input type="text" placeholder="Username">
                <br><br>
                Password:
                <input type="password" placeholder="Password">
                <br><br>
                <input type="submit" value="Login">
                <br><br>
                <a href="../authen/register/">Register</a>
            </form>
        </div>
        <div class="col-lg-6 col-sm-12" id="about">
            <h2>about the site</h2>
        </div>
    </div>
{% endblock %}
