{% extends 'base.html' %}
{% block title %} Play {% endblock %}
{% block content %}
    <h1 id="page">Play A Story</h1>
    <br> <br>
    <div id="stories">
    {% if stories_list %}
        <ul>
        {% for id, value in my_dict.items %}
            <form action="../edit/{{value}}" method="get">
                <li><a href="/AdvAPP/{{ id }}/">{{ value }} by: {{ value.author }}</a></li>
                <button type="submit" id="edit">Edit</button>
            </form>
            <br>
        {% endfor %}
        </ul>
        {% else %}
            <p>No stories are available.</p>
    {% endif %}
    </div>

{% endblock %}