{% extends 'base.html' %}
{% block title %} The Adventure Begins {% endblock %}
{% block content %}
    <div id="adventure">{{ adventureText.adv_text }}</div>
    <br> <br>

    <div id="choices">
        <ul>

        {% for choicetext in adventureText.choicetext_set.all %}
            {% if user.is_authenticated %}
                <li><a href="/AdvAPP/authen/{{ choicetext.result_text }}/">{{ choicetext.choice_text }}</a></li>
            {% else %}
                <li><a href="/AdvAPP/{{ choicetext.result_text }}/">{{ choicetext.choice_text }}</a></li>
            {% endif %}
        {% endfor %}

        <br>
        {% if user.is_authenticated %}
            {% if user.username == adventureText.story.author %}
            <a href="/AdvAPP/create/{{ adventureText.story.pk }}/{{ adventureText.pk }}">Add new Option</a>
            {% endif %}
        {% endif %}


        </ul>
    </div>

{% endblock %}
