{% extends 'base.html' %}
{% block title %} The Adventure Begins {% endblock %}
{% block content %}
    <h1>{{ adventureText.adv_text }}</h1>
    <br> <br>

    <div id="choices">
        <ul>

        {% for choicetext in adventureText.choicetext_set.all %}
            <li><a href="/AdvAPP/{{ choicetext.result_text }}/">{{ choicetext.choice_text }}</a></li>

        {% endfor %}

        <a href="/AdvAPP/create/{{ adventureText.story.pk }}/{{ adventureText.pk }}">Add new Option</a>


        </ul>
    </div>

{% endblock %}
